<div id="globalModal"
     class="global-modal">

    <div class="global-modal-content">

        <div class="global-modal-header">

            <h3 id="modalTitle">
                TurfX
            </h3>

            <button
                type="button"
                data-modal-close>
                ×
            </button>

        </div>

        <div id="modalBody"
             class="global-modal-body">

        </div>

        <div class="global-modal-footer">

            <button
                type="button"
                data-modal-close>
                Close
            </button>

        </div>

    </div>

</div>